body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.intro {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.header, .hero {
    display: flex;
    justify-content: space-between;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.hero {
    margin-top: 120px;
    margin-bottom: 120px;
}

.header p {
    font-size: 24px;
}

.header p, .title {
    color: #F9FAF8;
}

.title, .secondary {
    margin: 0;
}

    .title {
        font-size: 48px;
        font-weight: bolder;
        width: 80%;
    }

    .secondary {
        color: #E5E7EB;
        font-size: 18px;
        width: 65%;
    }

button {
    margin-top: 5px;
    background: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 15px;
    height: 34px;
    width: 120px;
    border-radius: 8px;
    border-style: none;
}

.info {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .info p {
        font-size: 36px;
        font-weight: bolder;
    }

    .info img {
        border-radius: 10%;
    }

    .pairs {
        display: flex;
        justify-content: center;
        padding-left: 18%;
        padding-right: 18%;
    }
    .box {
        margin: 20px;
        flex-wrap: wrap;
        text-align: center;
    }

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}